<!DOCTYPE html>
<html>
<head>
	<title>WEATHER APP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">City Weather</h1>
    <p class="lead">Type the name of the city to get the current weather of that city.</p>
  </div>
</div>

<div class="container">
	<form action="/" method="POST">
  <div class="form-group">
    <label for="input1">City Name</label>
    <input type="text" name="cityName" class="form-control" id="input1" placeholder="London" autocomplete="off">

  </div>
  <button type="submit" class="btn btn-info">Get Weather</button>
</form>  	
</div>


<footer  id="footer">
    <p class="lead">Uses <a href="https://openweathermap.org/">openweathermap.org</a> API.</p>
    <p class="lead">Siddhesh Swami | | 2020</p>
</footer>
</body>
</html>