<!DOCTYPE html>
<html>
<head>
	<title>WEATHER APP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

</head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">404</h1>
    <h2 class="display-4">City Not Found</h2>
    <br><br>
    <p class="lead"> Please check your city name again. </p>
    <form action="/">
    <button type="submit" class="btn btn-danger btn-lg" >Back</button>  
  </form>
  </div>
</div>

<footer  id="footer">
    <p class="lead">Uses <a href="https://openweathermap.org/">openweathermap.org</a> API.</p>
    <p class="lead">Siddhesh Swami | | 2020</p>
</footer>
</body>
</html>